{% extends "layout.html" %}

{% block content %}

<div class="blog-header">
    <div class="container">
        <h1 class="blog-title">{{blog.title}}</h1>
        <p class="lead blog-description">{{blog.description}}</p> <!-- TODO -->
    </div>
</div>

<hr/>

<div class="container">
    
    <div class="row">

        <div class="col-sm-8 blog-main">

        {% for post in blog.posts %}
            <div class="blog-post">
                <h2 class="blog-post-title">{{post.title}}</h2>
                <p class="blog-post-meta">{{post.date}}</h2>
                <div class="container">{{post.content}}</div>
            </div>
            <hr/>
        {% endfor %}

          <nav class="blog-pagination">
            <a class="btn btn-outline-{{older_class}} {{blog_allow_older}}" href="{{page.path}}?page={{blog_page+1}}">Older</a>
            <a class="btn btn-outline-{{newer_class}} {{blog_allow_newer}}" href="{{page.path}}?page={{blog_page-1}}">Newer</a>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            {{ blog.about }}
          </div>
          <hr/>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              {% for group in blog.archive %}
                <li><a href="{{page.path}}?group={{group.id}}">{{group.name}}</a></li>
              {% endfor %}
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
</div>

{% endblock %}
